@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@source "./templates/**/*.tpl";
@source "./MaterialThemePlugin.php";

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@plugin "tailwind-scrollbar";

@theme {
	--font-inter: Inter, sans-serif;
	--font-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
	--font-open-sans: "Open Sans", sans-serif;
	--font-merriweather: Merriweather, serif;
	--font-lora: Lora, serif;
	--font-comic-sans: "Comic Sans", sans-serif;
	--font-comic-neue: "Comic Neue", sans-serif;
	--font-cardo: Cardo, serif;
	--font-cormorant: Cormorant, serif;
	--font-old-standard-tt: "Old Standard TT", serif;
	--font-roboto-serif: "Roboto Serif", serif;

	--breakpoint-8xl: 88rem;
}

@layer components {
	input {
		@apply rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200/50;
	}
}

@layer base {
	@font-face {
		font-family: 'Comic Sans';
		src: url('../../fonts/ComicSans-Regular.ttf');
	}

	@font-face {
		font-family: 'Comic Neue';
		src: url('../../fonts/ComicNeue-Regular.ttf');
	}

	@font-face {
		font-family: 'Cardo';
		src: url('../../fonts/Cardo-Regular.ttf');
	}

	@font-face {
		font-family: 'Cormorant';
		src: url('../../fonts/Cormorant-Regular.ttf');
	}

	@font-face {
		font-family: 'Old Standard TT';
		src: url('../../fonts/OldStandardTT-Regular.ttf');
	}

	@font-face {
		font-family: 'Roboto Serif';
		src: url('../../fonts/RobotoSerif-VariableFont.ttf');
	}
}